<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Perguntas</title>
</head>

<style>

    body{
        background-color: black;
        color: rgb(212, 212, 212);
    }

    .error{
        color: rgb(188, 2, 2);
    }

    .NOerror{
        color: green;
    }

</style>

<body>

    <h1>Guia de Perguntas !</h1>
    <hr>
    <h3>Lista de perguntas</h3>

    <p> Nome: <%= nome %> </p>
    <p> Linguagem favorita: <%= lang %>  </p>
    <p> Empresa: <%= empresa %>  </p>

    <!-- <% //if(msg === false){ %>
        <h3 class="error">Isso é uma mensagem de erro!</h3>
    <% //}else { %>
        <h3 class="NOerror">Não a error</h3>
    <% //} %> -->

    <% produtos.forEach(function(produto) {%>
        <hr>
        <h3><%= produto.nome %></h3>
        <h4><%= produto.preco %></h4>
        <br>
    <% }) %>

</body>
</html>
